# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[**/*.{cmd,bat,ps1}]
end_of_line = crlf

# files in test-suite
[testsuite/**/*crlf*]
insert_final_newline = false
end_of_line = crlf

[testsuite/**/*.lf]
insert_final_newline = false
end_of_line = lf

[Makefile]
indent_style = tab
