/.idea
# default build directory
/build
/build*
# default idea build directory
/cmake-build-*


/target
**/*.rs.bk
/docs/.bundle
/docs/Gemfile.lock
/docs/vendor
/venv/
/testsuite/trace_lpcc.json
/testsuite/trace_test.json
/testsuite/aw_test.txt
**/Testing/Temporary
.vscode/c_cpp_properties.json
/compile_commands.json
