[project]
	description = Official repo for 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yucong Sun (sunyc)
[access "refs/for/refs/*"]
	read = group user/Yucong Sun (sunyc)
	push = group user/Yucong Sun (sunyc)
	label-Code-Review = -2..+2 group user/Yucong Sun (sunyc)
	label-Verified = -1..+1 group user/Yucong Sun (sunyc)
	rebase = group user/Yucong Sun (sunyc)
	removeReviewer = group user/Yucong Sun (sunyc)
	submit = group user/Yucong Sun (sunyc)
[access "refs/heads/*"]
	read = group user/Yucong Sun (sunyc)
	create = group user/Yucong Sun (sunyc)
	push = +force group user/Yucong Sun (sunyc)
	pushMerge = group user/Yucong Sun (sunyc)
[access "refs/tags/*"]
	push = +force group user/Yucong Sun (sunyc)
	pushTag = group user/Yucong Sun (sunyc)
	pushSignedTag = group user/Yucong Sun (sunyc)
