###############################################################################
#              Customizable runtime config file for FluffOS                   #
###############################################################################
# NOTE: All paths specified here are relative to the mudlib directory except  #
#       for mudlib directory, and binary directory.                           #
# Lines beginning with a # or a newline are ignored.                          #
###############################################################################

# name of this mud
# should be changed prior to the 'mud ip', otherwise it might yield strange
# results to either yourself or other users of this mudlib!
name : Testsuite

# for machines with multiple IP addresses, this specifies which one to use.  this
# replaces the SERVER_IP compile-time define.
#mud ip : 255.255.255.255
mud ip : 127.0.0.1

# the external ports we accept users on
external_port_1 : telnet 4000
external_port_2 : binary 4001

# external_port_3 : websocket 4002
# external_port_3_tls: cert=etc/cert.pem key=etc/key.pem

# websocket http dir : add relative path to fluffos/src/www

# absolute pathname of mudlib
mudlib directory : /home/mmessier/mudos/mudos/beta/testsuite

# absolute pathname of driver/config dir
binary directory : /home/mmessier/mudos/mudos/beta/testsuite

# ------------------------------------------------------------------------
#
# You shouldn't change anything below this point unless you know what
# you're changing.... =)
#

# debug.log and author/domain stats are stored here
log directory : /log

# the directories which are searched by #include <...>
# for multiple dirs, separate each path with a ':'
# see also 'master::get_include_path'
include directories : /include

# the file which defines the master object
master file : /single/master

# the file where all global simulated efuns are defined.
simulated efun file : /single/simul_efun

# file to swap out objects; not used if time to swap is 0
swap file : /single/swapfile

# alternate debug.log file name (assumed to be in specified 'log directory')
debug log file : debug.log

# This is an include file which is automatically #include'd in all objects
global include file : "/include/globals.h"

# default no-matching-action message
default fail message : What?

# default message when error() occurs (optional)
default error message :

# if an object is left alone for a certain time, then the
# function clean_up will be called. This function can do anything,
# like destructing the object. If the function isn't defined by the
# object, then nothing will happen.
# This time should be substantially longer than the swapping time.
time to clean up : 1200

# TIME_TO_RESET: How many seconds until an object is reset again.
# This value should be somewhere reasonable in between 'time to clean up'
# and 'time to swap'.
time to reset : 800

# How long time until an unused object is swapped out.
# Machine with too many players and too little memory: 900 (15 minutes)
# Machine with few players and lot of memory: 10000
# Machine with infinite memory: 0 (never swap).
time to swap : 600

# Max inherit chain size
inherit chain size : 30

# Maximum amount of "eval cost" per thread - execution is halted when
# it is exceeded.
maximum evaluation cost : 30000000

# Max number of local variables in a function.
maximum local variables : 50

# Set the maximum call depth for functions.
maximum call depth : 150

# This is the maximum array size allowed for one single array.
maximum array size : 15000

# This is the maximum allowed size of a variable of type 'buffer'.
maximum buffer size : 400000

# Max size for a mapping
maximum mapping size : 150000

# maximum length of a string variable
maximum string length : 200000

# Maximum number of bits in a bit field. They are stored in printable
# strings, 6 bits per byte.
maximum bits in a bitfield : 12000

# max number of bytes you allow to be read and written with read_bytes
# and write_bytes
maximum byte transfer : 200000

# Max size of a file allowed to be read by 'read_file()'.
maximum read file size : 200000

# Set the size of the shared string hash table.  This number should a prime,
# probably between 1000 and 30000; if you set it to about 1/5 of the number
# of distinct strings you have, you will get a hit ratio (number of
# comparisons to find a string) very close to 1, as found strings are
# automatically moved to the head of a hash chain.  You will never need more,
# and you will still get good results with a smaller table.
hash table size : 7001

# Set this like you did with the strings; probably set to about 1/4 of the
# number of objects in a game, as the distribution of accesses to objects is
# somewhat more uniform than that of strings.
object table size : 1501

# There is a hash table for living objects, used by find_living().
# This must be one of 4, 16, 64, 256, 1024, 4096
living hash table size : 256

gametick msec : 100
heartbeat interval msec : 1000

# explode():
#
# The old behavior (#undef both of the below) strips any number of
# delimiters at the start of the string, and one at the end.  So
# explode("..x.y..z..", ".") gives ({ "x", "y", "", "z", "" })
#
# SANE_EXPLODE_STRING strips off at most one leading delimiter, and
# still strips off one at the end, so the example above gives
# ({ "", "x", "y", "", "z", "" }).
#
# REVERSIBLE_EXPLODE_STRING overrides SANE_EXPLODE_STRING, and makes
# it so that implode(explode(x, y), y) is always x; i.e. no delimiters
# are ever stripped.  So the example above gives
# ({ "", "", "x", "y", "", "z", "", "" }).
#
# Use PCRE-backed %(...) in sscanf instead of the legacy regexp engine (requires PACKAGE_PCRE)
sscanf use pcre : 0

#
sane explode string : 1
reversible explode string : 0

# SANE_SORTING: Use system provided fastest sorting routine for various
# sorting, including sort_array EFUN.
#
# This replace the old internal version qsort which only sorts to one
# direction repetitively. so following LPC code:
#
#    sort_array(({4,3,2,1}), (: -($1<$2) :));
#
# can still return ({1,2,3,4}), even though it only returns -1 and 0.
#
# It is recommended to fix your LPC code to not rely on this behavior.
#
# Your LPC code should return 1, 0, -1 for situation where first argument
# is less than, equal to, or greater than the second argument. This will
# will work with both implementation.
#
# Old code should work fine with this added, easy to inspect by searching
# for sort_array.
#
sane sorting : 1

# WARN_TAB: Some versions of the editor built in indent function use
#   tabs for indenting. This options turns on a warning message for
#   files indented with tabs instead of spaces.
#
warn tab : 0

# WOMBLES: don't allow spaces between start/end of array/mapping/functional
# token chars so ({1,2,3}) still works, but ( { 1 , 2 , 3 } ) doesn't
# and ({ 1 , 2 , 3 }) does.
wombles : 0

# CALL_OTHER_TYPE_CHECK: enable type checking for call_other()
# (-> operator on objects)
#
call other type check : 0

# CALL_OTHER_WARN, make it warning instead of errors
call other warn : 0

# MUDLIB_ERROR_HANDLER: If you define this, the driver doesn't do any
#   handling of runtime errors, other than to turn the heartbeats of
#   objects off.  Information about the error is passed in a mapping
#   to the error_handler() function in the master object.  Whatever is
#   returned is put in the debug.log.
#
# A good mudlib error handler is one of the best tools for tracking down
# errors.  Unfortunately, you need to have one.  Check the testsuite or
# other libs for an example.
#
mudlib error handler : 1

# NO_RESETS: completely disable the periodic calling of reset()
#
no resets : 0

# LAZY_RESETS: if this is defined, an object will only have reset()
#   called in it when it is touched via call_other() or move_object()
#   (assuming enough time has passed since the last reset).  If LAZY_RESETS
#   is #undef'd, then reset() will be called as always (which guaranteed that
#   reset would always be called at least once).  The advantage of lazy
#   resets is that reset doesn't get called in an object that is touched
