name: CI on OSX

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build: ["Debug", "RelWithDebInfo"]
        os: ["macOS-latest"]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Install packages
      run: brew install cmake pkg-config pcre libgcrypt openssl jemalloc icu4c mysql-client sqlite3
    - name: compile
      run: mkdir build && cd build &&  cmake -DCMAKE_BUILD_TYPE=${{ matrix.build }} -DPACKAGE_DB_SQLITE=2 .. && make -j 2 install && cd ..
      env:
        OPENSSL_ROOT_DIR: "/usr/local/opt/openssl"
        ICU_ROOT: "/usr/local/opt/icu4c"
    - name: testsuite
      run: cd testsuite && ../build/bin/driver etc/config.test -ftest
