name: CI on ubuntu

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        compiler:
          - CC: "gcc"
            CXX: "g++"
          - CC: "clang"
            CXX: "clang++"
        build: ["Debug", "RelWithDebInfo"]
        os: ["ubuntu-18.04", "ubuntu-20.04", "ubuntu-latest"]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Install packages
      run: |
        sudo apt update
        sudo apt install -y build-essential autoconf automake bison expect libmysqlclient-dev libpcre3-dev libpq-dev libsqlite3-dev libssl-dev libtool libz-dev telnet libgtest-dev libjemalloc-dev
    - name: compile
      env: ${{ matrix.compiler }}
      run: mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=${{ matrix.build }} -DPACKAGE_DB_SQLITE=2 .. && make -j 2 install && cd ..
    - name: testsuite
      run: cd testsuite && ../build/bin/driver etc/config.test -ftest
